{% extends 'base.html' %}


{% block title %}Contacto{% endblock title %}

{% block contenido %}

<section id="contacto" class="services section-bg">
<div class="container" data-aos="fade-up">
    <div class="col-lg text-center text-lg">
            <h2> ¡¡Envíanos un mensaje!!</h2>
        
            <!--form action = "" class = "formulario_contacto"-->
            <form method="POST" class="post-form">{% csrf_token %}
            
                {{form.as_p}}
            
                <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
            
            </form>

    </div>
</div>
</section>

{% endblock %}
